previews:
  generation: automatic

services:
  - type: web
    name: nuhire
    runtime: docker
    repo: https://github.com/sagashrimproll/NUHire
    rootDir: .
    dockerCommand: "" # leave blank to use CMD from Dockerfile
    healthCheckPath: /
    envVars:
      # --- Root .env ---
      - key: MYSQL_ROOT_PASSWORD
        value: Lobstar1!@summit
      - key: MYSQL_DATABASE
        value: pandployer
      - key: API_PORT
        value: 5001
      - key: DB_HOST
        value: db
      - key: DB_PORT
        value: 3306
      - key: DB_USER
        value: root
      - key: DB_PASSWORD
        value: Lobstar1!@summit
      - key: DB_NAME
        value: pandployer
      - key: KEYCLOAK_ADMIN
        value: https://nuhire-keycloak.onrender.com
      - key: KEYCLOAK_ADMIN_PASSWORD
        value: NUHire0207!

      # --- API .env ---
      - key: KEYCLOAK_ADMIN
        value: nuhire
      - key: KEYCLOAK_ADMIN_PASSWORD
        value: NUHire0207!
      - key: KEYCLOAK_CLIENT_ID
        value: NUHire-Client
      - key: KEYCLOAK_REALM
        value: NUHire-Realm
      - key: KEYCLOAK_CLIENT_SECRET
        value: thJZ4vpuH8ch3cEEvfplB0X9CjOuhXgD
      - key: KEYCLOAK_URL
        value: https://nuhire-keycloak.onrender.com
      - key: REACT_APP_FRONT_URL
        value: https://nuhire.onrender.com
      - key: SESSION_SECRET
        value: your-secret-key
      - key: MODERATOR_USERNAME
        value: a
      - key: MODERATOR_PASSWORD
        value: a

      # --- Frontend .env ---
      - key: https://nuhire-api-cz6c.onrender.com
        value: https://nuhire.onrender.com
      - key: KEYCLOAK_ADMIN
        value: NUHire
      - key: KEYCLOAK_ADMIN_PASSWORD
        value: NUHire0207!

    scaling:
      minInstances: 1
      maxInstances: 3
      targetMemoryPercent: 60
      targetCPUPercent: 60